<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코로나 현황</title>
    <link rel="stylesheet" href="/app.css">
    <script src="/jquery-3.6.0.min.js"></script>
    <script src="/app.js"></script>
</head>

<body>
    <div class="container">
        <div class="slider-btn" id="left-btn">&lt;</div>
        <div class="slider">
            <div class="total panel">
                <div class="data-div">
                    <div class="title">
                        <h4>전일대비</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            소계 : <%= data.before[0] %>
                        </div>
                        <div class="block">
                            국내발생 : <%= data.before[1] %>
                        </div>
                        <div class="block">
                            해외유입 : <%= data.before[2] %>
                        </div>
                    </div>
                </div>
                <div class="data-div">
                    <div class="title">
                        <h4>격리해제</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            누적 : <%= data.out[0] %>
                        </div>
                        <div class="block">
                            전일대비 : <%= data.out[1] %>
                        </div>
                    </div>
                </div>
                <div class="data-div">
                    <div class="title">
                        <h4>격리</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            누적 : <%= data.in[0] %>
                        </div>
                        <div class="block">
                            전일대비 : <%= data.in[1] %>
                        </div>
                    </div>
                </div>
                <div class="data-div">
                    <div class="title">
                        <h4>사망</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            누적 : <%= data.dead[0] %>
                        </div>
                        <div class="block">
                            전일대비 : <%= data.dead[1] %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ages panel">
                <div class="data-div">
                    <div class="title">
                        <h4>남성</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            확진자 : <%= data.man[0] %>
                        </div>
                        <div class="block">
                            사망자 : <%= data.man[1] %>
                        </div>
                    </div>
                </div>
                <div class="data-div">
                    <div class="title">
                        <h4>여성</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            확진자 : <%= data.woman[0] %>
                        </div>
                        <div class="block">
                            사망자 : <%= data.woman[1] %>
                        </div>
                    </div>
                </div>
                <div class="data-div">
                    <div class="title">
                        <h4>연령별 확진자</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            80이상 : <%= data.age80[0] %>
                        </div>
                        <div class="block">
                            60 ~ 79 : <%= data.age60[0] %>
                        </div>
                        <div class="block">
                            40 ~ 59 : <%= data.age40[0] %>
                        </div>
                        <div class="block">
                            20 ~ 39 : <%= data.age20[0] %>
                        </div>
                        <div class="block">
                            0 ~ 19 : <%= data.age19[0] %>
                        </div>
                    </div>
                </div>
                <div class="data-div">
                    <div class="title">
                        <h4>연령별 사망자</h4>
                    </div>
                    <div class="content">
                        <div class="block">
                            80이상 : <%= data.age80[1] %>
                        </div>
                        <div class="block">
                            60 ~ 79 : <%= data.age60[1] %>
                        </div>
                        <div class="block">
                            40 ~ 59 : <%= data.age40[1] %>
                        </div>
                        <div class="block">
                            20 ~ 39 : <%= data.age20[1] %>
                        </div>
                        <div class="block">
                            0 ~ 19 : <%= data.age19[1] %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-btn" id="right-btn">&gt;</div>

        <div class="reply-form">
            <input type="text" id="name"><br>
            <input type="text" id="msg"><br>
            <button id="upload">작성하기</button>
        </div>
        <div class="reply-list">

        </div>
    </div>

    <script>
        let isSlide = false;
        let nowSlide = 0;

        $("#left-btn").on("click", () => slide(-1));
        $("#right-btn").on("click", () => slide(1));

        function slide(dir) {
            console.log(dir, nowSlide, isSlide);
            if (isSlide) return;
            isSlide = true;

            if (nowSlide == 0) {
                $(".total").css('left', 0).animate({ "left": `${dir * -100}%` }, 800, () => { isSlide = false; });
                $(".ages").css('left', `${dir * 100}%`).animate({ "left": 0 }, 800, () => { isSlide = false; });
                nowSlide = 1;
            } else if (nowSlide == 1) {
                $(".total").css('left', `${dir * 100}%`).animate({ "left": 0 }, 800, () => { isSlide = false; });
                $(".ages").css('left', 0).animate({ "left": `${dir * -100}%` }, 800, () => { isSlide = false; });
                nowSlide = 0;
            }
        }
    </script>
</body>

</html>